{% extends "layout.html" %}
{% block title %}Attempt Quiz: {{quiz.name}}{% endblock %}
{% block content %}
{% block head %}
{{ super() }}
<style>
    .timer {
        color: red;
        font-size: 12px;
    }
</style>
{% endblock %}
<h2>{{quiz.name}}</h2>
{% if quiz.time_duration > 0 %}
<div class="timer">
    <span id="timer">00:00</span>
</div>
{% endif %}
<form id="quizForm" method="post">
    <div>
        {% for question in questions %}
        <div>
            <h5>Q:{{ question.question_statement }}</h5>
            <h6>Choose answer:</h6>
            <div>
                <input type="radio" name="question_{{ question.id }}" value="1">
                <label>{{ question.option1 }}</label>
            </div>
            <div>
                <input type="radio" name="question_{{ question.id }}" value="2">
                <label>{{ question.option2 }}</label>
            </div>
            <div>
                <input type="radio" name="question_{{ question.id }}" value="3">
                <label>{{ question.option3 }}</label>
            </div>
            <div>
                <input type="radio" name="question_{{ question.id }}" value="4">
                <label>{{ question.option4 }}</label>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit">Submit Quiz</button>
</form>

<script>
    const quizDuration = {{ quiz.time_duration }};
    if (quizDuration > 0) {
        let timeLeft = quizDuration;

        function updateTimer() {
            let minutes = Math.floor(timeLeft / 60)
            let seconds = timeLeft % 60
            document.getElementById("timer").textContent = `
    ${minutes.toString().padStart(2, '0')}:
    ${seconds.toString().padStart(2, '0')}
    `
            if (timeLeft <= 0) {
                clearInterval(timeInterval);
                alert("Time's up! Your quiz will be submitted automatically.");
                document.getElementById("quizForm").submit()
            } else {
                timeLeft--;
            }
        }

        const timeInterval = setInterval(updateTimer, 1000)
    }
</script>
{% endblock %}