{% extends "layout.html" %}
{% block title %}Manage Scores{% endblock %}
{% block content %}
<h1>Manage Scores</h1>
<table>
    <thead>
        <tr>

            <th>Id</th>
            <th>Total Scored</th>
            <th>Timestamp</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
        <tr>
            <td>{{ score.id }}</td>
            <td>{{ score.total_scored }}</td>
            <td>{{ score.timestamp }}</td>
            <td>
                <a href="#">Edit</a>
            </td>
            <td>
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}