{% extends "layout.html" %}
{% block title %}User Dashboard{% endblock %}
{% block content %}
<h1>User Dashboard</h1>

<div>
    <h5>You can attempt any quiz based on your interest from the list:</h5>
    <table>
        <thead>
            <tr>
    
                <th>Name</th>
                <th>Date of Quiz</th>
                <th>Time Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.date_of_quiz }}</td>
                <td>{{ quiz.time_duration / 60 }} Minutes</td>
                <td>
                    <a href="{{ url_for('attempt_quiz', quiz_id=quiz.id) }}">Attempt</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}